/*Mobile First*/

body { 
  padding-top: 70px;
  /*background: url('../images/arcDrawingBG.jpg') no-repeat center center fixed; */
 background: url('../images/grid5BG.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


a {
  color: white;
}

h2 {
  color: black;
}

.jumbotron {
	opacity: .9;
	color: white;
	background-color: gray;
}


img {
  width: 100%;
  opacity: .95;
  background-color: white;
}

.jumbotron {
	width: 100%;
}

#about p {
	width: 100%;
	font-size: 1.3em;
	opacity: 1.0;
}

.arcsvg	{
	stroke-width: 5px;
  stroke: red;

}

#introduction {

}

#longIntroduction {
	display: all;
}

#work p {
	padding: 200 px;
}

#contact {
	width: 50%;
}


/*Media Queries*/
/* Smartphones (portrait and landscape) ----------- */
@media all  and (min-width: 320px) and (max-width: 480px){
	#about p {
		font-size: 1.0em;
	}

	#contact {
	width: 90%;
	}


}

@media all  and (min-width: 481px) and (max-width: 767px){
	#about p {
		font-size: 1.0em;
	}

	#contact {
	width: 90%;
	}

}

/* iPads (portrait and landscape) ----------- */
@media all  and (min-width: 768px) and (max-width: 1024px){

	#contact {
	width: 65%;
	}

}

